*.db
*.egg
*.egg-info
*.gem
*.log
*.mo
*.orig
*.py[cod]
*.sqlite
*.swp
*.tap
*.DS_Store
.bundle
.config
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.sqlite3-journal
.tox/
bower_components/
develop-eggs/
dist/
eggs/
env/
node_modules/
sdist/
coverage
nosetests.xml
npm-debug.log
pip-log.txt
testem.*.*.*.json
